/* Base element styles: body, headings, links, lists.
   No classes here, only bare HTML element selectors.
   Reference tokens with var(). */

/* TODO: Style body, headings, links, and other base elements */

h1, h2, h3, h4, h5, h6{
   font-family: var(--font-title);
   font-weight: var(--font-bold);
   line-height: var(--lines-title);
}
p, span, a, text{
   font-family: var(--font-text);
   line-height: var(--lines-normal);
}
div:has(p, span, a){
   font-family: var(--font-text);
   line-height: var(--lines-normal);
}

nav {
   display:  flex;
}

ul {
   list-style:  none;
   padding: 0;
   margin: 0;
}

div:has(article) {
   margin: 5vh 10vw 10vh 10vw;

   article {
      p {text-align: justify}
   }
}

